<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/place/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Your Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="isLoading"
        class="ion-text-center"
      >
        <ion-spinner color="primary" name="bubbles"></ion-spinner>
      </ion-col>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && (!loadedBookings || loadedBookings.length <= 0) "
        class="ion-text-center"
      >
        <p>No bookings found</p>
      </ion-col>
    </ion-row>
    <ion-row
      size-md="6"
      offset-md="3"
      *ngIf="!isLoading &&(loadedBookings || loadedBookings.length > 0) "
    >
      <ion-col>
        <ion-list>
          <ion-item-sliding
            *ngFor="let booking of loadedBookings"
            #slidingBooking
          >
            <ion-item>
              <ion-avatar slot="start">
                <img [src]="booking.placeImage" />
              </ion-avatar>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>{{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                (click)="onCancelBooking(booking.id,slidingBooking)"
                color="danger"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
